header {
	background-image: url(../images/header_bg.jpg);
	background-size: 1200px 470px;
    background-repeat: no-repeat;
	font-family: 'Open Sans', sans-serif;
	color: #FFFFFF;
	font-weight:'extra-bold';
	font-size:24px;
	padding: 0px 0px 250px 0px;
	

}

/*div {
	padding:0px 0px 100px 0px;*/
}


h1 {
	text-align:left;
	font-family: 'Open Sans', sans-serif;
	font-weight: 401;

}

h2 {
	text-align:center;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;

}


button {
	color: #033048;
	font-family: 'Open Sans', sans-serif;
	font-style: bold;
	height:32px; 
    width:130px; 
    margin: -20px -50px; 
    position:relative;
    top:50%; 
    left:50%
}

.button1 {
	/* moz-border-radius: 15px;*/
	border: none;
	background-color: #f9e42e;
  -webkit-border-radius: 5px;
  	font-size:14px;
  	font-weight:bold;
  -webkit-box-shadow: 10px 10px 5px #888888;
  
}

h3 {
	color:#033048;
	font-size: 20px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
}
section {
	color: #606161;
	font-family: ‘Open Sans’, sans-serif; 
	font-weight: lighter;
}
.section1 {
	padding:0px 0px 50px 0px;
	line-height:22px;
}
.benefits {

	padding:0px 0px 30px 0px;
	font-family: 'Open Sans', sans-serif;
	font-weight:300;

}

ul {

	font-family: 'Open Sans', sans-serif;
	font-weight:300;

}

ul li:nth-child(even) {  
  	font-weight:900;

}

.testimonial {
	background-image:url(../images/testimonial_bg.jpg);
	/*background-size: 1200px 470px;*/
	text-align:center;
	color: #FFFFFF;
	padding: 50px 0px 150px 0px;
	font-family: 'Open Sans', sans-serif;
	font-weight:300;
}


#section2 {
	font-style:italic;
	text-align:center;
	font-family: 'Open Sans', sans-serif;
	font-weight:300;
	font-size:18px;
}

#section3 {
	font-size:20px;
	font-style:bold;
	font-family: 'Open Sans', sans-serif;
	font-weight:600;
}

.buttondiv {

	background-color:#f9e42e;
	padding: 25px 0px 25px 0px;
}

.button2 {
	border: 1px;
	color: white;
	background-color: #033048;
	-webkit-border-radius: 5px;
	font-size:12px;
	font-family: 'Open Sans', sans-serif;
	font-weight:600;
}
p.footer {
	color: #f9e42e;
	text-align:center;
	font-family: 'Open Sans', sans-serif;
	font-weight:800;
	font-size:24px;
	padding:20px 0px 0px 0px;

}

footer {
	text-align:center;
	background-color: #424242;
	color: #FFFFFF;
	font-size: 9px;
	font-family: 'Open Sans', sans-serif;
	font-weight:600;
	padding: 0px 0px 20px 0px;

}
